.nueva-calificacion-container {
    height: 90vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nueva-calificacion-container h2 {
    margin-bottom: 1rem;
    color: rgba(1, 20, 35, 0.94);
    font-size: 2rem;
}

.calificacion-form {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px 0px #011d33;
    padding: 1rem 2rem 1.5rem 2rem;
    row-gap: .8rem;
}

.input-puntaje, .textarea-descripcion {
    padding: .5rem;
}

.textarea-descripcion {
    font-family: 'Poppins', sans-serif;
    height: 200px;
    max-height: 200px;
    width: 100%;
    max-width: 390px;
}

.input-puntaje {
    width: 25%;
    margin-top: .3rem;
}

.calificacion-btn {
    padding: .5rem;
    width: 140px;
    margin: 0 auto;
    background-color: #011d33;
    color: #fff;
    transition: .4s;
    font-size: 1.05rem;
    border-radius: 20px;
    border: none;
}

.calificacion-btn:hover {
    background-color: rgba(1, 29, 51, 0.85);
}

.calificacion-error, .calificacion-success {
    position: fixed;
    top: 4rem;
    right: 2rem;
    width: 300px;
    padding: 1rem;
    color: #fff;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    z-index: 1000;
}

.calificacion-error {
    background-color: #8c0000;
}

.calificacion-success {
    background-color: #017201;
}
