header{
    background-color: #11698E;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}
nav{
    display: flex;
    column-gap: .5rem;
}
.logo{
    height: 37px;
}
.button-logo{
    cursor: pointer;
}
a{
    text-decoration: none;
}