.container{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
}
.container-a{
    text-decoration: none;
    color: black;
    display: contents;
    cursor: pointer;
}

.item{
    width: 240px;
    height: 340px;
    background-color: #F8F1F1;
    border: solid 1px gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.prop-img{
    height:50%;
    object-fit: cover;
}
.prop-ubi{
    margin: 10px 0 0 0;
    font-size: 12px;
}
.prop-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.fav-container {
    position: absolute;
    right: 10px;
    z-index: 10;
}

.unfavHeart:hover{
    font-size: larger;
}
.favHeart:hover{
     font-size: larger;
 }
.prop-title{
    margin-top: 0;
}
.prop-desc{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.prop-desc p{
    margin: 5px;
    font-size: 12px;
}
.prop-price{
    color: #19456B;;
    align-self: center;
    font-size: 14px;
    margin: 15px;
}
