* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
}

.container-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

.container {
    width: 48%;
}

.propiedad-admin {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.propiedad-admin h3 {
    margin-top: 0;
}

.btn-aceptar, .btn-rechazar, .btn-modificar, .btn-eliminar {
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
}

.btn-aceptar {
    background-color: #5cb85c;
}

.btn-rechazar {
    background-color: #d9534f;
}

.btn-modificar {
    background-color: #0275d8;
}

.btn-eliminar {
    background-color: #d9534f;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.admin-links {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.admin-links a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.admin-links a:hover {
    background-color: #f0f0f0;
    color: #000;
}

.error {
    color: rgba(0,150,0);
    font-size: .75rem;
}

.fav-alert-error {
    position: fixed;
    top: 4rem;
    right: 2rem;
    width: 400px;
    padding: 1rem;
    background: rgba(219, 33, 33, 0.98);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #022d4f;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    z-index: 10000;
}

