*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.propiedad {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem 0rem .5rem 3rem;
}

.propiedad p {
    margin: 16px 0;
}

.message {
    text-align: center;
    border: none;
    color: #000;
    padding: 10px;
    font-size: 2.6em;
}

.nombre {
    text-align: center;
    font-size: 2.3em;
}

p {
    font-size: 1.2em;
}

.img-propiedad {
    width: 100%;
    height: 100vh;
}


.alquilar-btn:hover, .nuevo-btn:hover {
    background-color: #1484b1;
    cursor: pointer;
}

.img-container {
    position: relative;
    display: flex;
}

.img-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.nombre {
    margin-bottom: 40px;
}

.alquilar-btn {
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #16a2da;
    color: #fff;
    padding: 1em 3.4em;
    font-size: 20px;
    font-weight: 600;
    border-radius: 40px;
    border: 0px;
    transition: ease .2s;
    text-align: center;
}

.nuevo-btn {
    position: absolute;
    bottom: 22%;
    left: calc(50% - 170px);
    background-color: #16a2da;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 100%;
    padding: 15px;
    cursor: pointer;
}

.fa-location-dot {
    font-size: 22px;
}

.fa-codepen {
    font-size: 21px;
}

.prop-det-price {
    position: relative;
    font-size: 1.6rem;
    color: rgba(0,0,0,.9);
    padding: .9rem 0rem 0rem 2.5rem;
}

.prop-det-price:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 1.5px;
    background-color: #1484b1;
    bottom: -.1rem;
}

.detalles-propiedad {
    height: auto;
    min-height: 178vh;
}

.propiedad-estado {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
}





