.background .shape{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
}

.pswLabel {
    display: flex;
    height: auto;
}
.plusIcon {
    margin: 18px 0 0 5px;
    height: 18px;
}
input{
    display: block;
    height: 35px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  visibility: hidden;
  width: 140px;
  background-color: #ccc;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  margin-left: -55px;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext p {
    color: #19456B;
    font-size: 10px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ccc transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
