<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/lista-propiedades.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>

    <script src="https://kit.fontawesome.com/9168d5dbac.js" crossorigin="anonymous"></script>
</head>
<body>

    <header style="background: #011d33; box-shadow: 0px 0px 3px 0px #1484b1">
        <a class="button-logo" th:href="@{/home}">
            <img class="logo" th:src="@{/img/logo.png}" alt="Logo">
        </a>
        <nav>
            <div th:if="${usuario}">
                <a th:if="${#session.getAttribute('ROL') == 'ADMIN'}" th:href="@{/panel-admin/propiedades}">
                    <i class="fa-solid fa-columns fa-lg" style="color: #f8f1f1;"></i>
                </a>
            </div>
            <a th:href="@{/favoritos}">
                <i class="fa-regular fa-heart" style="color: #f8f1f1;"></i>
            </a>
            <!--
               <a href="#">
                    <i class="fa-regular fa-bell" style="color: #f8f1f1;"></i>
               </a>
             -->
             <!--
                <a href="#">
                      <i class="fa-regular fa-envelope" style="color: #f8f1f1;"></i>
                </a>
             -->
            <a href="#" th:href="@{/perfil}">
                <i class="fa-regular fa-circle-user fa-lg" style="color: #f8f1f1;"></i>
            </a>
        </nav>
    </header>

    <main style="padding: 1.5rem 2rem">

        <div class="filtros">
            <form action="#" th:action="@{/filtro/precio}" method="POST">
                <input id="input-minimo" class="filtro-precio" type="number" name="min" placeholder="Min" min="0.0" max="2000000" required>
                <input id="input-maximo" class="filtro-precio" type="number" name="max" placeholder="Max" min="0.0" max="2000000" required>
                <button class="filtro-btn" type="submit">Aplicar filtro</button>
            </form>
            <form action="#" th:action="@{/filtro/ubicacion}" method="POST">
                <input class="filtro-ubicacion" type="text" name="ubicacion" placeholder="Ubicacion" required>
                <button class="filtro-btn" type="submit">Aplicar filtro</button>
            </form>
            <a style="color: #011d33; font-size: 1rem" th:href="@{/lista-propiedades}">
                (Deshacer filtros)
            </a>
        </div>

        <div>
            <div class="container" th:if="${propiedades}">
                <div th:each="propiedad : ${propiedades}">
                    <div th:if="${propiedad.aceptada}">
                        <a class="item" th:href="@{'/propiedad/' + ${propiedad.id}}" >
                            <p class="prop-estado">EN <span th:text="${propiedad.estado}"></span></p>
                            <img class="prop-img" th:src="@{'/img/' + ${propiedad.id} + '/' + ${propiedad.rutaImagen}}" alt="propiedad">
                            <div style="display: flex; gap: .5rem; align-items: center; justify-content: space-between; padding-top: 7px">
                                <h5 class="prop-nombre" th:text="${propiedad.nombre}"></h5>
                                <form
                                        th:if="${favoritos}"
                                        th:action="@{'/favoritos/' + (${favoritos.contains(propiedad) ? 'eliminar/' : 'agregar/'}) + ${propiedad.id}}"
                                        th:method="POST"
                                >
                                    <button type="submit" style="background: none; border: none;">
                                        <i
                                                th:unless="${favoritos.contains(propiedad)}"
                                                id="fav-vacio"
                                                class="fa-regular fa-heart"
                                                style="color: #022d4f; font-size: 1.2rem; cursor: pointer;"
                                        ></i>
                                        <i
                                                th:if="${favoritos.contains(propiedad)}"
                                                id="fav-relleno"
                                                class="fa-solid fa-heart"
                                                style="color: #022d4f; font-size: 1.2rem; cursor: pointer;"
                                        ></i>
                                    </button>
                                </form>
                                <form th:unless="${favoritos}" th:action="@{'/login/'}">
                                    <button type="submit" style="background: none; border: none;">
                                        <i class="fa-regular fa-heart" style="color: #022d4f; font-size: 1.2rem; cursor: pointer;"></i>
                                    </button>
                                </form>

                            </div>
                            <div class="prop-desc-item">
                                <i style="margin-right: .5rem" class="fa-solid fa-location-dot"></i>
                                <h5 class="prop-ubicacion" th:text="${propiedad.ubicacion}"></h5>
                            </div>
                            <div class="prop-desc">
                                <div class="prop-desc-item">
                                    <i style="margin-right: .5rem" class="fa-brands fa-codepen"></i>
                                    <p th:text="${propiedad.superficie} + '(mt2)'"></p>
                                </div>
                                <div class="prop-desc-item">
                                    <i style="margin-right: .5rem" class="fa-solid fa-layer-group"></i>
                                    <p th:text="':' + ${propiedad.pisos}"></p>
                                </div>
                                <div class="prop-desc-item">
                                    <i style="margin-right: .5rem" class="fa-solid fa-bath"></i>
                                    <p th:text="':' + ${propiedad.banios}"></p>
                                </div>
                                <div class="prop-desc-item">
                                    <i style="margin-right: .5rem" class="fa-solid fa-person-shelter"></i>
                                    <p th:text="':' + ${propiedad.habitaciones}"></p>
                                </div>
                            </div>
                            <h4 th:text="'$' + ${propiedad.precio} + (${propiedad.estado.toString() == 'ALQUILER' ? '(AR$ por mes)' : ' valor total(USD)'})" class="prop-precio"></h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <p id="successMessage" class="fav-alert-success" th:if="${success != null}" th:text="${success}"></p>
    </main>

    <footer style="background: #011d33; box-shadow: 0px 0px 3px 0px #1484b1">
        <div class="social">
            <a href="https://www.instagram.com">
                <i class="fa-brands fa-instagram" style="color: #f8f1f1;"></i>
            </a>
            <a href="https://www.whatsapp.com">
                <i class="fa-brands fa-whatsapp" style="color: #f8f1f1;"></i>
            </a>
        </div>
    </footer>

    <script th:src="@{/js/propiedades.js}"></script>
</body>
</html>