<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Iniciar sesión</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../resources/core/css/login.css">
    <!--Stylesheet-->
</head>

<body>
    <form action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}">
        <h3>Iniciar sesión</h3>
        <p class="subtitle">¿No tienes cuenta? <a href="signup.html">Regístrate</a></p>
        

        <label for="username">Nombre de usuario</label>
        <input th:field="*{username}" id="username" type="text" class="form-control" required/>
        <!-- <input type="text" id="username" required> -->

        <label for="password">Contraseña</label>
        <input th:field="*{password}" type="password" id="password" class="form-control" required/>
        <!-- <input type="password" id="password" required> -->

        <button type="Submit">Ingresar</button>
        
        <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
        </p>
        
    </form>
</body>
</html>
