<!DOCTYPE html>
<html lang="es">
<head>
  <title>Agregar propiedad</title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/agregar-propiedad.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}"/>
  <link rel="stylesheet" th:href="@{/css/footer.css}"/>
  <link rel="stylesheet" th:href="@{/css/index.css}">

  <script src="https://kit.fontawesome.com/f3e8220cf2.js" crossorigin="anonymous"></script>
</head>

<body>
  <header style="background: #011d33; box-shadow: 0px 0px 3px 0px #1484b1">
    <a class="button-logo" th:href="@{/home}">
      <img class="logo" th:src="@{/img/logo.png}" alt="Logo">
    </a>
    <nav>
      <div th:if="${usuario}">
        <a th:if="${#session.getAttribute('ROL') == 'ADMIN'}" th:href="@{/panel-admin/propiedades}">
          <i class="fa-solid fa-columns fa-lg" style="color: #f8f1f1;"></i>
        </a>
      </div>
      <a th:href="@{/favoritos}">
        <i class="fa-regular fa-heart" style="color: #f8f1f1;"></i>
      </a>
      <a href="#" th:href="@{/perfil}">
        <i class="fa-regular fa-circle-user fa-lg" style="color: #f8f1f1;"></i>
      </a>
    </nav>
  </header>
  <main>
    <div class="bg-overlay"></div>
    <img class="agregar-bg" th:src="@{/img/agregar-bg.png}"/>
    <div class="agregar-contenido">
      <div class="agregar-textos">
        <h3>Pone en venta/alquiler tu propiedad!</h3>
        <p>Ingresa datos e imagenes de la vivienda, publicala, y una vez que se verifiquen los datos y la publicacion sea habilitada espera a que un interesado se contacte con vos para negociar.</p>
      </div>
      <form style="z-index: 1000" action="#" enctype="multipart/form-data" th:action="@{/agregar-propiedad}" method="POST" th:object="${propiedad}">
        <h3>Datos de la propiedad</h3>

        <label for="nombre">Nombre</label>
        <input th:field="*{nombre}" id="nombre" type="text" required/>
        <label for="ubicacion">Ubicacion</label>
        <input th:field="*{ubicacion}" id="ubicacion" type="text" required/>

        <div class="form-flex">
          <div>
            <label for="pisos">Pisos</label>
            <input th:field="*{pisos}" id="pisos" type="number" required/>
          </div>
          <div>
            <label for="banios">Baños</label>
            <input th:field="*{banios}" id="banios" type="number" required/>
          </div>
          <div>
            <label for="superficie">Superficie(m2)</label>
            <input th:field="*{superficie}" id="superficie" type="number" required/>
          </div>
        </div>

        <div class="form-flex">
          <div>
            <label for="precio">Precio</label>
            <input th:field="*{precio}" id="precio" type="number" max="1000000" required/>
          </div>
          <div>
            <label for="habitaciones">Habitaciones</label>
            <input th:field="*{habitaciones}" id="habitaciones" type="number" required/>
          </div>
          <div style="margin-left: .5rem">
            <label>Estado:</label>
            <div style="display: flex; flex-direction: row; align-items: center; font-size: .9rem">
              En alquiler
              <input id="input-alquiler" type="radio" value="ALQUILER" name="estado" th:field="*{estado}" checked>
            </div>
            <div style="display: flex; flex-direction: row; align-items: center; font-size: .9rem">
              En venta
              <input id="input-venta" type="radio" value="VENTA" name="estado" th:field="*{estado}">
            </div>
          </div>
        </div>

        <label for="imagen">Imagen:</label>
        <input name="imagen" id="imagen" type="file" required/>

        <p
                class="alert"
                th:if="${error != null}"
                th:text="${error}"
        >
        </p>
        <button type="Submit">Agregar propiedad</button>
      </form>
    </div>
    <p id="successMessage" class="fav-alert-success" th:if="${success != null}" th:text="${success}"></p>
  </main>

  <footer style="background: #011d33; box-shadow: 0px 0px 3px 0px #1484b1">
    <div class="social">
      <a href="https://www.instagram.com">
        <i class="fa-brands fa-instagram" style="color: #f8f1f1;"></i>
      </a>
      <a href="https://www.whatsapp.com">
        <i class="fa-brands fa-whatsapp" style="color: #f8f1f1;"></i>
      </a>
    </div>
  </footer>

  <script th:src="@{/js/propiedades.js}"></script>

</body>
</html>