<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Propiedad</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/propiedad.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <script src="https://kit.fontawesome.com/9168d5dbac.js" crossorigin="anonymous"></script>
</head>
<body>

    <header style="background: #011d33; box-shadow: 0px 0px 3px 0px #1484b1">
        <a class="button-logo" th:href="@{/home}">
            <img class="logo" th:src="@{/img/logo.png}" alt="Logo">
        </a>
        <nav>
            <div th:if="${usuario}">
                <a th:if="${#session.getAttribute('ROL') == 'ADMIN'}" th:href="@{/panel-admin/propiedades}">
                    <i class="fa-solid fa-columns fa-lg" style="color: #f8f1f1;"></i>
                </a>
            </div>
            <a th:href="@{/favoritos}">
                <i class="fa-regular fa-heart" style="color: #f8f1f1;"></i>
            </a>
            <a href="#" th:href="@{/perfil}">
                <i class="fa-regular fa-circle-user fa-lg" style="color: #f8f1f1;"></i>
            </a>
        </nav>
    </header>

    <div th:if="${messageError != null}" style="height: 90vh;display: flex;align-items: center;justify-content: center;">
        <p style="font-size: 2.3rem" th:text="${messageError}"></p>
    </div>
    <main class="detalles-propiedad">
        <a class="back-btn" th:href="@{/lista-propiedades}"><i class="fa-solid fa-arrow-left-long"></i> Volver</a>
        <div class="img-container">
            <img th:src="@{'/img/propiedades/' + ${propiedad.id} + '/' + ${propiedad.rutaImagen}}" class="img-propiedad" alt="casa-img">
            <div class="alquilar-content">
                <h2 style="margin-bottom: 1rem" th:text="${propiedad.nombre}"></h2>
                <a th:if="${propiedad.estado.toString() == 'ALQUILER'}" th:href="@{'/propiedad/' + ${propiedad.id} + '/alquiler'}" class="alquilar-btn">Alquilar propiedad</a>
                <a th:unless="${propiedad.estado.toString() == 'ALQUILER'}" th:href="@{'/propiedad/' + ${propiedad.id} + '/compra'}" class="alquilar-btn">Adquirir propiedad</a>
            </div>
        </div>

        <div class="propiedad">
            <h1 class="message" th:if="${messageSuccess != null}">Detalles de la Propiedad</h1>
            <div class="propiedad-content">
                <div class="propiedad-info">
                    <p class="propiedad-estado">En <span th:text="${propiedad.estado}"></span></p>
                    <p><i style="margin-right: .5rem" class="fa-solid fa-location-dot"></i>Ubicacion: <span th:text="${propiedad.ubicacion}"></span></p>
                    <p><i style="margin-right: .5rem" class="fa-solid fa-layer-group"></i>Pisos: <span th:text="${propiedad.pisos}"></span></p>
                    <p><i style="margin-right: .5rem" class="fa-solid fa-bath"></i>Baños: <span th:text="${propiedad.banios}"></span></p>
                    <p><i style="margin-right: .5rem" class="fa-solid fa-person-shelter"></i>Habitaciones: <span th:text="${propiedad.habitaciones}"></span></p>
                    <p><i style="margin-right: .5rem" class="fa-brands fa-codepen"></i>Superficie: <span th:text="${propiedad.superficie}"></span></p>
                </div>
                <div class="propiedad-galeria">
                    <h4 class="galeria-title">Galeria de imagenes:</h4>
                    <div>
                        <img id="img-principal" class="galeria-img-principal" th:src="@{'/img/propiedades/' + ${propiedad.id} + '/' + ${propiedad.rutaImagen}}">
                    </div>
                    <div class="galeria-seleccion">
                        <div th:each="imagen : ${imagenes}">
                            <img onclick="seleccionarImagen(this)" class="galeria-img-sec" th:src="@{'/img/propiedades/' + ${propiedad.id} + '/' + ${imagen}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="prop-det-price" th:text="'$' + ${propiedad.precio} + '(AR$ por mes)'"></h5>
    </main>


    <footer style="background: #011d33; box-shadow: 0px 0px 3px 0px #1484b1">
        <div class="social">
            <a href="https://www.instagram.com">
                <i class="fa-brands fa-instagram" style="color: #f8f1f1;"></i>
            </a>
            <a href="https://www.whatsapp.com">
                <i class="fa-brands fa-whatsapp" style="color: #f8f1f1;"></i>
            </a>
        </div>
    </footer>

    <script th:src="@{/js/detalle-propiedad.js}"></script>

</body>
</html>


