<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Propiedad</title>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/propiedad.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<header>
    <a class="button-logo" th:href="@{/home}">
        <img class="logo" th:src="@{/img/logo.png}" alt="Logo">
    </a>
    <nav>
        <a href="#">
            <img th:src="@{/img/bx-heart.svg}" alt="favoritos">
        </a>
        <a href="#">
            <img th:src="@{/img/bx-bell.svg}" alt="notificaciones">
        </a>
        <a href="#">
            <img th:src="@{/img/bx-conversation.svg}" alt="mensajes">
        </a>
        <a href="#">
            <img th:src="@{/img/bx-user.svg}" alt="perfil">
        </a>
    </nav>
</header>

<main>
    <h1 class="message" th:if="${message != null}" th:text="${message}"></h1>

    <div th:if="${propiedad != null}" class="img-container">
        <img th:src="@{/img/Casa.jpg}" alt="casa-img">
    </div>

    <div class="propiedad" th:if="${propiedad != null}" >
        <h2 class="nombre" th:text="${propiedad.nombre}"></h2>
        <p><strong>Ubicación: </strong><span th:text="${propiedad.ubicacion}"></span></p>
        <p><strong>Pisos: </strong><span th:text="${propiedad.pisos}"></span></p>
        <p><strong>Baños: </strong><span th:text="${propiedad.banios}"></span></p>
        <p><strong>Habitaciones: </strong><span th:text="${propiedad.habitaciones}"></span></p>
        <p><strong>Superficie: </strong><span th:text="${propiedad.superficie}"></span> mt2</p>
        <p><strong>Precio: </strong>$<span th:text="${propiedad.precio}"></span> por noche</p>
    </div>

</main>

</body>
</html>


